
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header-left-link{display: none;}
.conteiner-left-mini-img{
  width: 88px;
  height: 88px;
  border-radius: 10px;
  img{
      width: 88px;
      height: 88px;
      border-radius: 10px;
  }
}

.App-sepet {
  text-align: center;
}

.cart {
  position: fixed;
  top: 125px;
  right: -100%;
  width: 300px;
  height: 250px;
  background-color: #f8f8f8;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  transition: right 0.3s ease;
  padding: 20px;
}

.cart.open {
  right: 0;
}

.cart h2 {
  margin-top: 0;
}

.cart-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}




.header{
  display: flex;
  padding: 19px 24px;
  justify-content: space-between;
}
.products-btn{
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #1D2026;
}


.header-left{
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-right{
  display: flex;
  align-items: center;
  gap: 22px;
}
.sepet-btn{
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-menu{
  background: none;
  border: none;
}
.App {
  position: relative;
}

.offcanvas-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Menü gizliyken sol tarafa kaydırılır */
  width: 250px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Sol taraf için gölge değişikliği */
  transition: left 0.3s ease; /* Animasyon için geçiş efekti */
  z-index: 1000;
}

.offcanvas-menu.open {
  left: 0; /* Menü açıldığında sol tarafa yerleşir */
}

.offcanvas-body{
  margin-top: 53px;
  margin-left: 25px;
  li{
    list-style: none;
    color: #1D2026;
    font-weight: 700;
    margin-top: 20px;
  }
}


.close-btn {
  background: none;
  border: none;
  font-size: 25px;
  color: #69707D;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 25px;
}


.products{
  text-align: center;
  border: 2px solid gold;
  margin: 20px;
  border-radius: 15px;
  background-color: rgb(245, 245, 245);
  max-width: 300px;
  img{
      max-width: 296px;
      max-height: 170px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
  }
  p{
      font-size: small;
      margin-top: 7px;
      font-weight: 400;
  }
  h4{
      margin-top: 15px;
      font-weight: 700;
      color: rgb(213, 190, 58);
  }
  span{
      display: inline-block;
      margin-top: 7px;
  }

}

.products-price{
  margin-top: 20px;
  align-items:baseline;
  gap: 15px;
  justify-content: center;
  h5{
      text-decoration: line-through;
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      color: #B6BCC8;
      text-decoration: line-through;
  }
}
.go-products{
  text-decoration: none;
  color: #fff;
}
.go-product {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px 100px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #FF7E1B;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #d8d3d3;
}

.go-product:hover {
  background-color: #f4511e;

}

.go-product:active {
  background-color: #f4511e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



/* tablet-desktop */
@media (width >= 820px) {
  .header-left-link{display: flex;}
  .hamburger-menu{display: none;}

  
  .App-sepet {
    text-align: center;
  }
  
  .cart {
    position: fixed;
    top: 125px;
    right: -100%;
    width: 300px;
    height: 250px;
    background-color: #f8f8f8;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transition: right 0.3s ease;
    padding: 20px;
  }
  
  .cart.open {
    right: 95px;
  }
  
  .cart h2 {
    margin-top: 0;
  }
  
  .cart-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }



  

  .header{
    max-width: 1110px;
    height: 50px;
    margin: 28px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  .header-left-link{
    display: flex;
    gap: 32px;
    a{
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        color: #69707D;
        text-decoration: none;
    }
  }

  .conteiner-products-detail{
    display: flex;
    width: 1015px;
    height: 565px;
    margin: 125px auto;
}

.conteiner-left{
    
    width: 445px;
    height: 565px;
}

.conteiner-left-big-img{
    width: 445px;
    height: 445px;
    border-radius: 10px;
    img{
        width: 445px;
        height: 445px;
        border-radius: 10px;
    }
}

.conteiner-left-small-img{
    margin-top: 32px;
    display: flex;
    width: 445px;
    gap: 31px;
}
.conteiner-left-mini-img{
    width: 88px;
    height: 88px;
    border-radius: 10px;
    img{
        width: 88px;
        height: 88px;
        border-radius: 10px;
    }
}

.conteiner-right{
    margin: 62px 0px 77px 125px;
    width: 445px;
    height: 426px;
}
.conteiner-right-conpany-text{
    h2{
        font-size: 13px;
        font-weight: 700;
        line-height: 16px;
        color: #FF7E1B;
    }
    h1{
        margin-top: 27px;
        font-size: 44px;
        font-weight: 700;
        line-height: 48px;
        color: rgb(213, 190, 58);
    }
    h3{
        margin-top: 27px;
        font-size: 30px;
        font-weight: 700;
        line-height: 48px;
        color: #1D2026;
    }
    p{
        margin-top: 32px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #69707D;
    }
}


.conteiner-right-conpany-text-price{
    display: flex;
    margin-top: 28px;
    width: 173px;
    height: 68px;
}


.conteiner-right-conpany-text-money{


    h1{
        margin-top: 4px;
        font-size: 28px;
        font-weight: 700;
        line-height: 35px;
        color: #1D2026;
    }

    h5{
        margin-top: 10px;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        color: #B6BCC8;
        text-decoration: line-through;
    }
}

.conteiner-right-conpany-text-sale{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #FFEEE2;
    width: 51px;
    height: 27px;
    border-radius: 6px;
    margin-left: 16px;

    h5{
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: #FF7E1B;

    }
}
.footer-buttons{
    display: flex;
    gap: 12px;
}


.basket-quantity{
    margin-top: 32px;
    width: 157px;
    height: 56px;
    background-color: #F6F8FD;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    strong{
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: #1D2026;
    }
}

.add-to-card-button{
    cursor: pointer;
    width: 272px;
    height: 56px;
    background-color: #FF7E1B;
    margin-top: 32px;
    border: none;
    border-radius: 10px;
    color: white;

}



.basket-quantity-down{
    cursor: pointer;
    color: #FF7E1B;
    text-decoration: none;
    font-size: 30px;
    padding: 16px;
    margin-top: -5px;

}


.basket-quantity-up{
    cursor: pointer;
    color: #FF7E1B;
    text-decoration: none;
    font-size: 30px;
    padding: 16px;
    margin-top: -5px;
}
.conteiner-products{
    margin-inline: auto;
  display: flex;
  gap: 3px;
  flex-wrap: wrap;

}



.products{
  text-align: center;
  border: 2px solid gold;
  margin: 20px;
  border-radius: 15px;
  background-color: rgb(245, 245, 245);
  width: 300px;
  img{
      width: 296px;
      height: 170px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
  }
  p{
      font-size: small;
      margin-top: 7px;
      font-weight: 400;
  }
  h4{
      margin-top: 15px;
      font-weight: 700;
      color: rgb(213, 190, 58);
  }
  span{
      display: inline-block;
      margin-top: 7px;
  }

}

.products-price{
  margin-top: 20px;
  align-items:baseline;
  gap: 15px;
  justify-content: center;
  h5{
      text-decoration: line-through;
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      color: #B6BCC8;
      text-decoration: line-through;
  }
}
.go-products{
  text-decoration: none;
  color: #fff;
}
.go-product {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px 100px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #FF7E1B;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #d8d3d3;
}

.go-product:hover {
  background-color: #f4511e;

}

.go-product:active {
  background-color: #f4511e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

  
}



